# Properties of list

1. List is one of the sequence data structure
2. List is a collection of items ( strings, integers, and list) 
3. Each item in list has assignd index value
4. items in list is seperated by comma
5. Lists are mutable.

In [35]:
# List append 
lst = ['one', 'two', 'three', 'four']
lst.append('five') # add at the end 
print(lst)

['one', 'two', 'three', 'four', 'five']

In [39]:
# appending list
lst = ['one', 'two' , 'three', 'four']
lst2 = ['Five', 'Six']
lst.append(lst2)  # add list two at end as a list

print(lst)

['one', 'two', 'three', 'four', ['Five', 'Six']]

In [40]:
# Extend in list

lst = ['one', 'two' , 'three', 'four']
lst2 = ['Five', 'Six']
lst.extend(lst2) # Add list2 in list as elements on as list
# or we can just add as lst + lst2 will give same result
print(lst)

['one', 'two', 'three', 'four', 'Five', 'Six']

In [36]:
# List Insert
lst = ['one', 'two' , 'three', 'four']
lst.insert(2, 'Nine') # will add Nine at location 2
print(lst)

['one', 'two', 'Nine', 'three', 'four']

In [37]:
# list remove
lst = ['one', 'two' , 'three', 'four', 'tow']
lst.remove('two') # it will remove first occurance of two
print(lst)

['one', 'three', 'four']

In [44]:
# Delete 
lst = ['one', 'two', 'Nine', 'three', 'four']
del lst[1]  # Delete the item at index 1
print(lst)

lst1 = ['one', 'two', 'Nine', 'three', 'four']
a = lst1.pop(1) # Stored in variable a 
print(lst1)
print(a)

['one', 'Nine', 'three', 'four']
['one', 'Nine', 'three', 'four']
two

In [46]:
# Remove
lst = ['one', 'two', 'Nine', 'three', 'four']
lst.remove('Nine') # remove by item exactly instead of index number
print(lst)

['one', 'two', 'three', 'four']

# List related keyword

In [54]:
# "in"
lst = ['one', 'two', 'Nine', 'three', 'four']
if 'two' in lst:
    print('OK')

    # "Not"
if 'Nine' not in lst:
    print("Nine absent")
else:
    print("Nine present")
    
# "Reverse"
lst = ['one', 'two', 'Nine', 'three', 'four']
lst.reverse()
print(lst)

OK
Nine present
['four', 'three', 'Nine', 'two', 'one']

In [59]:
# "sort"
lst = [5, 2, 8, 1, 3]
lst.sort() # sort and put int original list 
print(lst)

[1, 2, 3, 5, 8]

In [58]:
# "sortd" 

# lst = ['one', 'two', 'Nine', 'three', 'four']
lst = [5, 2, 8, 1, 3]

sorted_lst = sorted(lst) # sort the list and store in new var
print(sorted_lst)

# reverse sorting
reverse_sort = sorted(lst, reverse=True)
print(reverse_sort)

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]

In [70]:
# List having multiple memory location
lst = [5, 2, 8, 1, 3]
abc = lst # creating another variable which is pointing to the same location as lst call d pointer
print("Memory location of list:",id(lst))
print("Memory location of abc:", id(abc))

abc.append(6) # appending in abc will append in original list too
print(lst)

Memory location of list: 92288654784
Memory location of abc: 92288654784
[5, 2, 8, 1, 3, 6]

In [75]:
# String splitting stored as list
string = "This is Asheesh Kumar"
splited = string.split() # Default split is White-character
print(splited)

string = "This_is_Asheesh_Kumar"
splitted2 = string.split('_') # split by underscore(_)
print(splitted2)

['This', 'is', 'Asheesh', 'Kumar']
['This', 'is', 'Asheesh', 'Kumar']

In [ ]:
# Indexig of string

# [start,end,stepsize]
# 0,1,2,3,4,5,6,7
# -8,-7,-6,-5,-4,-3,-2,-1

In [79]:
# "Count"
lst =[5, 2, 8, 1, 3, 6,3,5,1]
print(lst.count(3)) # finds the frequency of 3

2

In [80]:
# looping in list
lst = [5, 2, 8, 1, 3, 6]
for num in lst:
    print(num)

5
2
8
1
3
6

In [85]:
# list comprehension
squares = [i**2 for i in range(10)] # mathematical: i^2 âˆ€  0<i<9
print("Squares:",squares)

lst =[-20,-10,0,10,20]
positive_num = [i for i in lst if i>=0 ]
print(positive_num)

Squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 10, 20]

In [87]:
# creating matrix and taking transpose of it

matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
                ]
transpose = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transpose.append(lst)
        
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [88]:
# Other method to transpose
transpose = [[row[i] for row in matrix] for i in range(4)]
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# Reversing a list

In [5]:
aList = [100, 200, 300, 400, 500]
aList = aList[1::-1]
print(aList)

[200, 100]

# Concatenate two lists index-wise

In [6]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

 # Turn every item of a list into its square

In [8]:
lst=[1,2,3,4,5,6,7,8,9]
sqlst=[i*i for i in lst]
print(sqlst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Order the two strings

In [14]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

# Remove empty strings from the list of strings

In [15]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
resList = list(filter(None, list1))
print(resList)

['Mike', 'Emma', 'Kelly', 'Brad']

# Add item 7000 after 6000 in the following Python List

In [23]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000], 500, 7000], 30, 40]

In [25]:
# Finding the index of particular values

list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
print(index)

3