# Patern printing

In [28]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

# Reversing the string

In [33]:
list1 = [10, 20, 30, 40, 50]

for l in range(4,-1,-1):
     print(list1[l])

50
40
30
20
10

In [37]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [40]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

# display all the prime numbers within a range

In [1]:
start=10
end=50
for i in range(start, end+1):
    for j in range(2,i):
        if i%j==0:
            break 
    else:
        print(i)

11
13
17
19
23
29
31
37
41
43
47

# Fibbonacci series

In [3]:
term = 10
num1,num2 = 0,1
count = 0

#for i in range(10):
while count < term:
    print(num1, end=' ')
    
    temp = num1 + num2
    num1 = num2
    num2 = temp
    count+=1

0 1 1 2 3 5 8 13 21 34 55

# Factorial

In [13]:
num=3
temp=1
for i in range(1,num+1):
    temp=temp*i
    
print(temp)

6

# Reversing an integer

In [26]:
num=452149
while num>0:
    rem = num % 10
    #print(rem)
    revnum=rem
    num=num//10
    print(revnum, end='')

941254

# Sum of series

In [37]:
term=5
sum=0
num=2
for i in range(term):
    print(num)
    sum+= num
    num=num*10+2
print(sum)

2
22
222
2222
22222
24690